body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  gap: 30px;
  margin: 0px;
}

ul {
  list-style: none;
}

.boards-container {
  display: flex;
}

#board-container-one {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;
  margin: 20px;
}

#board-container-two {
  display: none;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;
  margin: 20px;
}

.human-player-cells {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  /* Hide text */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.ai-player-cells {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  /* Hide text */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.player-container {
  display: flex;
}

.ship-placement-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.carrier {
  display: grid;
  grid-template-columns: repeat(5, 30px);
  grid-template-rows: 30px;
  width: 150px;
}

.battleship {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: 30px;
  width: 120px;
}

.submarine,
.destroyer {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  grid-template-rows: 30px;
  width: 90px;
}

.patrol-boat {
  display: grid;
  grid-template-columns: 30px 30px;
  grid-template-rows: 30px;
  width: 60px;
}

.ship-cell {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  background-color: #f0db4f;
}

.drag-over {
  background-color: #f5e689;
}

.invalid-drop {
  background-color: red;
}
